@import './variables';
@import './mixins';

.booking-page {
    &__content {
        padding: $spacing-large;
        text-align: center;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: $spacing-large;
    }
}