// Colors
$body-color: #254553;
$primary-color: #355d6e;
$secondary-color: #42768d;
$accent-color: #37687d;
$text-color: #1a3038;


// Typography
$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-weight-bold: 700;
$line-height-base: 1.5;

// Spacing
$spacing-base: 1rem;
$spacing-small: 0.5rem;
$spacing-large: 2rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;